{% load static %}
<html>
	<head>
		<title>Merchex</title>
		<link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
	</head>
	<body>
		<nav>
			<a href="{% url 'band-list' %}">Groupes</a>
			<a href="{% url 'listing-list' %}">Annonces</a>
			<a href="{% url 'contact' %}">Contact</a>
		</nav>

		{% if messages %}
			{% for message in messages %}
			<p>{% if message.tags %} {{ message.tags|upper }} : {% endif %} {{ message }}</p>
			{% endfor %}
		{% endif %}

		{% block content%}{% endblock %}
		
	</body>
</html>
